@import url('https://fonts.googleapis.com/css?family=Philosopher|Muli');
*{
	padding: 0px;
	margin: 0px;
}
.clearfix:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
body{
	color: #252839;
	font-family: 'Muli', sans-serif;
	font-size: 20px;
}
img{
	display: block;
}
a{
	color: inherit;
	text-decoration: none;
}
a:hover{
	color: #e04b24;
	border-bottom: 1px solid #e04b24;
}
p{
	line-height: 1.5em;
}

header{
	background: #fff;
}
h1{
	font-family: 'Philosopher', sans-serif;
	font-weight: normal;
	text-align: center;
}
#logo{
	font-size: 5em;
	padding: .25em;
	float: left;
} 

nav{
	padding: .25em 0;
	margin-top: 4em;
	float: right;
}
nav a{
	text-align: center;	
	font-size: 1.25em;
	font-weight: bold;
	font-variant: small-caps;
	letter-spacing: 2px;
	margin-right: 3em;
}

#cover{
	background: url("../images/rays.jpg");
	background-size: cover;
	background-position: center top;
}
#cover h1{
	color: #f2b632;
	font-size: 7em;	
	padding-top: 1em;
}
h2{
	width: 7em;
	color: #fff;
	font-size: 3em;
	text-align: center;
	padding: 2em 0 3.5em 0;
	margin: 0 auto 0.5em;
}

section{
	background: #f2b632;
	margin-bottom: 0.5em;
	padding: 1em 0; 
}
h3{
	font-family: 'Philosopher', sans-serif;
	font-size: 2em;
	font-weight: bold;
	color: #252839;
	padding: .25em 0;
	margin-left: 4.16%;
}
article{
	background: #fff;
	width: 25%;
	margin: 1em 4.16%;
}
article img{
	width: 100%;
	margin: auto;
}
#reviews article{
	float: left;
}
#essays article{
	float: left;
}
h4, article p{
	width: 100%;
}
h4{
	font-weight: bold;
}

#info{
	background: #252839;
}
#info div, aside{
	margin: 0 2%;
	float: left;
}
#info div{
	width: 24%;
}
aside{
	width: 12%;
	line-height: 1.5em;
}
h5{
	font-family: 'Philosopher', sans-serif;
	font-size: 1.5em;
	color: #e04b24;
	padding: .25em 0;
}
div p{
	text-align: left;
	width: 90%;
	color: #fff;
}
aside h5{
	text-align: right;
}
ul{
	list-style: none;
	text-align: right;
	color: #f2b632;
}

footer{
	background: #e04b24;
	color: #fff;
	text-align: center;
	padding: 1em;
	margin: auto;
	clear: both;
}	