@import url('https://fonts.googleapis.com/css?family=Philosopher|Muli');
* {
	padding: 0px;
	margin: 0px;
}
body {
	background: #151906;
	color: #cfeedf;
	font-family: 'Muli', sans-serif;
	font-size: 24px;
}
img {
	display: block;
	margin: auto;
}
h1, h3, h5 {
	font-family: 'Philosopher', sans-serif;
	text-align: center;
}
h1 {
	font-size: 2.5em;
	color: #cfeedf;
	padding: .25em;
} 
h3 {
	font-size: 1.75em;
	color: #e04b24;
	padding: .25em;
}
h5 {
	font-size: 1.25em;
	padding: .25em;
}
#slogan {
	color:#cfeedf;
}
#boilerplate {
	text-align: center;
	margin: auto;
	width: 30em;
	color: #cfeedf;	
}
nav {
	text-align: center;	
	margin:.75em auto;
}
nav a {
	font-weight: bold;
	text-decoration: none;
	font-variant: small-caps;
	letter-spacing: 2px;
	color: #e04b24;
	padding: .5em;
}
#read, #submit {
	background: #fffff8;
	color: #151906;
}
.teaser {
	text-align: center;
	width: 30em;
	padding-bottom: 1em;
	margin: auto;
}
a {
	color: inherit;
}