@import url("https://fonts.googleapis.com/css?family=Philosopher|Muli");
* {
	padding: 0px;
	margin: 0px;
}
body {
	background: #151906;
	color: #cfeedf;
	font-family: "Muli";
	font-size: 24px;
}
h1, h3, h5 {
	font-family: "Philosopher";
}
h1 {
	font-size: 2.5em;
	color: #cfeedf;
	text-align: center;
	padding: 20px;
} 
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
h3 {
	text-align: center;
	padding: 15px;
	font-size: 1.75em;
	color: #e04b24;
}
#slogan {
	color:#cfeedf;
}
#boilerplate {
	color: #cfeedf;
	text-align: center;
}
nav {
	text-align: center;	
	margin: 10px
}
nav a {
	font-weight: bold;
	text-decoration: none;
	color: #e04b24;
	padding: 20px;
}
section {
	height: 500px;
}
#read, #submit {
	background: #cfeedf;
	color: #151906;
}
h5 {
	font-size: 1.25em;
	margin-left: 10px;
	padding: 10px;
}
.teaser {
	margin-left: 20px
}
a {
	color: inherit;
}