@import url('https://fonts.googleapis.com/css?family=Philosopher|Muli');
* {
	padding: 0px;
	margin: 0px;
}
body {
	color: #000;
	font-family: 'Muli', sans-serif;
	font-size: 24px;
}

header {
	background: #ffed74;
	width: 1200px;
	margin: auto;
}
img {
	display: block;
	margin: auto;
}
h1, h3, h5 {
	font-family: 'Philosopher', sans-serif;
	text-align: center;
}
h1 {
	font-size: 2.5em;
	color: #000;
	padding: .25em;
} 
h3 {
	font-size: 1.75em;
	color: #e04b24;
	padding: .25em;
}
#slogan {
	color: #000;
}
#boilerplate {
	text-align: center;
	margin: auto;
	width: 30em;	
}
nav {
	background: #e8c66a;
	width: 900px;
	border: .25em white solid;
	text-align: center;	
	margin:.75em auto;
}
nav a {
	font-weight: bold;
	text-decoration: none;
	font-variant: small-caps;
	letter-spacing: 2px;
	color: #e04b24;
	padding: .5em;
}

section {
	background: #ffe2b8;
	width: 1200px;
	margin: auto;
}
article {
	background: #e89c6c;
	width: 800px;
	margin: 1em auto;
	border: .25em white solid;
}
h5 {
	font-size: 1.25em;
	padding: .25em;
}
.teaser {
	text-align: center;
	width: 30em;
	padding-bottom: 1em;
	margin: auto;
}
a {
	color: inherit;
}

aside{
	background: #ffc675;
	width: 1200px;
	margin: 1em auto;
}
ul {
	list-style: none;
	text-align: center;
}

footer {
	background: #ff957e;
	width: 1200px;
	margin: 1em auto;
}
