@import url('https://fonts.googleapis.com/css?family=Philosopher|Muli');
* {
	padding: 0px;
	margin: 0px;
}
body {
	color: #000;
	font-family: 'Muli', sans-serif;
	font-size: 20px;
}

#wrapper {
	background: #000;
	margin: auto;
	width: 1280px;
}

header {
	background: #ffed74;
}
h1 {
	font-family: 'Philosopher', sans-serif;
	font-size: 5em;
	font-weight: normal;
	text-align: center;
	color: #000;
	padding: .25em;
} 
nav a {
	display: block;
	float: left;
	width: 256px;
	padding: .25em 0;
	background: #e8c66a;
	text-align: center;	
	color: #e04b24;
	font-size: 1.25em;
	font-weight: bold;
	text-decoration: none;
	font-variant: small-caps;
	letter-spacing: 2px;
}
nav a:hover {
	background-color: #cfeedf;
}
img {
	display: block;
	margin: auto;
	padding: .5em;
}
#hero {
	float: left;
	margin: 1em 0 1em 4em;
}
h2 {
	color: #fff;
	font-size: 3em;
	text-align: center;
	width: 11em;
	padding: 5em 1em 0 0;
	float: right;
}

section {
	background: #ffe2b8;
	clear: both;
}
h3 {
	font-family: 'Philosopher', sans-serif;
	text-align: center;
	font-size: 2em;
	color: #e04b24;
	padding: .25em;
}
article {
	background: #e89c6c;
	margin: 1em;
}
h5 {
	font-family: 'Muli', sans-serif;
	text-align: center;
	font-size: 1.5em;
	padding: .25em;
}
.teaser {
	width: 30em;
	padding: .5em;
	margin: auto;
}
a {
	color: inherit;
}
aside{
	background: #ffc675;
	padding: .5em;
}
.instructions {
	text-align: center;
}
ul {
	list-style: none;
	text-align: center;
}

footer {
	background: #ff957e;
	margin-top: 1em;
}	